<app-header></app-header>
<section class="introducao">
    <div class="box-introducao">
        <p class="info-introducao">Está na hora de cadastrar o Pet para a doação</p>
    </div>

    <div class="box-introducao d-flex justify-content-between">
        <p class="descricao">Cadastre um perfil para cada Pet, eles merecem.</p>
        
        <div class="descricao-img">
            <img src="../../../assets/IMG/hero-image.png" alt="">
            <p> Vamos encontrar o lar ideal para o seu Pet</p>
        </div>
        

    </div>
</section>

<section class="container">
    <form [formGroup]="registerForm" class="formulario" id="formulario">
        <div class="subtitulo">
            <h3>Dados do Doador</h3>
        </div>
        
        <div class="input-block">
            <label for="nomeUsuario">Nome Completo</label>
            <input type="text" class="form-control " [ngClass]="{'is-invalid': registerForm.get('nomeUsuario').errors && registerForm.get('nomeUsuario').touched}" name="nomeUsuario" id="nomeUsuario" formControlName="nomeUsuario">
            <div class="invalid-feedback">
                Campo Obrigatório
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="input-block">
                    <label for="localizacao">Link da sua localização <small>(Link Maps)</small></label>
                    <input type="url" class="form-control" [ngClass]="{'is-invalid': registerForm.get('localizacao').errors && registerForm.get('localizacao').touched}" name="localizacao" id="localizacao" formControlName="localizacao">
                    <div class="invalid-feedback">
                        Campo Obrigatório
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-block">
                    <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('whatsapp').errors && registerForm.get('whatsapp').touched}" name="whatsapp" id="whatsapp" placeholder="(    )  _____  ____" formControlName="whatsapp">
                    <div class="invalid-feedback">
                        Campo Obrigatório
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="subtitulo">
            <h3>Sobre o Pet</h3>
        </div>
    
        <div class="input-block">
            <label for="nomePet">Nome do Pet</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('nomePet').errors && registerForm.get('nomePet').touched}" name="nomePet" id="nomePet" formControlName="nomePet">
            <div class="invalid-feedback">
                Campo Obrigatório
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="input-block ">
                    <label for="especie">Espécie</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('especie').errors && registerForm.get('especie').touched}" name="especie" id="especie" formControlName="especie">
                    <div class="invalid-feedback">
                        Campo Obrigatório
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-block">
                    <label for="raca">Raça <strong style="color: red;">*</strong></label>
                    <select class="form-control" name="raca" id="raca" formControlName="raca">
                        <option *ngFor="let breed of breeds" [value]="breed.descricao">{{breed.descricao}}</option>
                      </select>
                </div>
            </div>
            <div class="col-md-6  d-flex justify-content-center align-self-center btn-group">
                <button class="btn2 btn verde" (click)="openModal(template3)">
                    Adicionar Raça
                </button>
                <button class="btn2 btn vermelho" (click)="openModal(template4)">
                    Raças
                </button>
            </div>
        </div>
        <div class="input-block">
            <label for="sexo">Sexo</label>
            <select class="form-control" [ngClass]="{'is-invalid': registerForm.get('sexo').errors && registerForm.get('sexo').touched}" name="sexo" id="sexo" formControlName="sexo">
                <option value="">-- Selecione --</option>
                <option value="Macho">Macho</option>
                <option value="Femea">Fêmea</option>
            </select>
            <div class="invalid-feedback">
                Campo Obrigatório
            </div>
        </div>

        <div class="input-block">
            <label for="foto">Url foto do pet <small>(Ainda em desenvolvimento)</small></label>
            <input type="url" class="form-control" [ngClass]="{'is-invalid': registerForm.get('foto').errors && registerForm.get('foto').touched}" name="foto" id="foto" formControlName="foto">
            <div class="invalid-feedback">
                Campo Obrigatório
            </div>
        </div>

        <label class="colorCinza">Porte Fisico</label>
        <div class="input-radio-block">
            
            <div>
                <input type="radio" name="porteFisico" id="radio1" value="Pequeno" formControlName="porteFisico">
                <label for="radio1">Pequeno</label>
            </div>
            <div>
                <input type="radio" name="porteFisico" id="radio2" value="Medio" formControlName="porteFisico">
                <label for="radio2">Médio</label>
            </div>
            <div>
                <input type="radio" name="porteFisico" id="radio2" value="Grande" formControlName="porteFisico">
                <label for="radio2">Grande</label>
            </div>
            
        </div>

        <div class="input-block">
            <label for="biografia">Biografia <small>(Conte mais sobre o seu Pet)</small></label>
            <textarea class="form-control" [ngClass]="{'is-invalid': registerForm.get('biografia').errors && registerForm.get('biografia').touched}" name="biografia" id="biografia" cols="30" rows="10" formControlName="biografia"></textarea>
            <div class="invalid-feedback">
                Campo Obrigatório
            </div>
        </div>

        <div class="input-block center">
            <label for="accept">Aceita receber informações por Email?</label>
            <input type="checkbox" name="accept" id="accept" formControlName="infoEmail">
        </div>

    </form>
    <div class="form-footer">

        <div> <img src="../../../assets/IMG/warning.png" alt=""><p>Importante!<br>Preencha todos os dados</p></div>
        <button type="submit" class="btn2 btn vermelho" form="formulario" [disabled]="!registerForm.valid" (click)="salvarAlteracao()">Salvar cadastro</button>
        
    </div>
</section>

<div bsModal #template3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Adicionar Raça 
      			</h4>
      			<button type="button" class="close pull-right" (click)="template3.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
                <form [formGroup]="register" id="register" name="register" (ngSubmit)="cadastrar(template3)">
                    <div class="form-row">
                        <div class="form-group input-block col-md-12">
                          <label>Descrição da Raça</label>
                          <input type="text" class="form-control" [ngClass]="{'is-invalid': register.get('descricao').errors && register.get('descricao').touched}" name="descricao"  id="descricao" formControlName="descricao">
                          <div class="invalid-feedback">
                            Campo Obrigatório
                          </div>
                        </div>
                      </div> 
                </form>
    		</div>    
    		<div class="modal-footer">      
      			<button type="button" class="btn2 btn verde" (click)="template3.hide()">
        			Cancelar
      			</button>
      			<button type="submit" form="register" [disabled]="!register.valid" class="btn2 btn vermelho">
          			Salvar
        		</button>
    		</div>
  		</div>
	</div>
</div>

<div bsModal #template4="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Listagem das Raças 
      			</h4>
      			<button type="button" class="close pull-right" (click)="template4.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col" colspan="2">Descrição</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let breed of breeds">
                        <th scope="row">{{breed?.id}}</th>
                        <td>{{breed?.descricao}}</td>
                        <td>
                            <div class="d-flex justify-content-center align-self-center btn-group btn-group-sm">
                                <button class="btn bntPequeno btn-warning" (click)="editModal(breed,childModal,template4)">Editar</button>
                                <button class="btn bntPequeno btn-danger" (click)="deleteBreed(breed)">Deletar</button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
    		</div>    
    		<div class="modal-footer">      
      			
    		</div>
  		</div>
	</div>
</div>


<!---->
 
<div class="modal fade" bsModal #childModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="dialog-nested-name2" class="modal-title pull-left">Editando a Raça {{breed?.descricao}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editBreed" name="editBreed" id="editBreed" (ngSubmit)="editarBreed(childModal)">
                <div class="form-row">
                    <div class="form-group input-block col-md-12">
                      <label>Descrição da Raça</label>
                      <input type="text" class="form-control" name="descricao"  id="descricao" formControlName="descricao">
                      <div class="invalid-feedback">
                        Campo Obrigatório
                      </div>
                    </div>
                  </div>
            </form>
        </div>    
        <div class="modal-footer">      
            <button type="button" class="btn2 btn verde" (click)="childModal.hide()">
                Cancelar
            </button>
            <button type="submit" form="editBreed" [disabled]="!editBreed?.valid" class="btn2 btn vermelho">
                Editar
            </button>
        </div>
        
    </div>
    </div>
  </div>
