<app-header></app-header>
<section class="introducao">
    <div class="container">
        <div class="box-introducao">
            <p class="descricao">Estes são os<br>Pets disponiveis.</p>

            <img src="../../../assets/IMG/hero-image.png" alt="">
        </div>
    </div>
</section>
<section class="container">
    <div class="filtroBusca">
        <form>
            <div class="input-block">
                <label for="filtroEspecie">Espécie</label>
                <input type="text" name="filtroEspecie" id="filtroEspecie" [(ngModel)]="filtroLista">
            </div>
            <div class="input-block">
                <label for="filtroRaca">Raça</label>
                <input type="text" name="filtroRaca" id="filtroRaca">
            </div>
            <input type="submit">
        </form>
    </div>
</section>
<section *ngFor="let pet of petsFiltrados" class="container">
    <div class="boxCard">
        <div class="cardPet">
            <div class="cardHeader">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="https://localhost:44362/Img/{{pet.foto}}" alt="Imagem de Perfil do Pet" width="80px" height="76px">
                    <div class="titulo-header">
                        <p>{{pet.nomePet}}</p>
                        <small>{{pet.raca}}</small>
                    </div>
                </div>
                <button class="btn verde" (click)="openModal(template)" >Abrir Perfil</button>
            </div>
            <div class="cardBody">
                <p>{{pet.biografia}}</p>
            </div>
        </div>
        <div class="cardFooter">
            <a href="https://api.whatsapp.com/send?phone=55{{pet.whatsapp}}&text=Ol%C3%A1" target="_blank" rel="noopener noreferrer" class="btn vermelho"><img src="../../../assets/IMG/whatsapp.png" alt=""> Entrar em contato</a>
        </div>
    </div>
</section>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" 
      aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
