<section class="menu">
    <div class="boxBanner">
        <div class="banner">
            <img src="../assets/IMG/logoPetHood.png" class="logo-image" alt="Logomarca">
            <img src="../assets/IMG/hero-image.png" class="hero-image" alt="Imagem de um Cachorro com o chapeu do RobinHood">
        </div>
    </div>
    <div class="boxNav d-flex align-items-center">
        <div class="navegacao">
            <div class="row">
                <p class="boas-vindas">Seja bem-vindo.<br>
                        O que deseja fazer?</p>
                <p class="contador-adotados">Total de {{totalPetsAdotados}} pets já adotados <img src="../assets/IMG/Emoji.png" alt="coração"></p>
                <a routerLink="/pets" class="btn btn-verde"><img src="../assets/IMG/pata-de-cachorro.png" alt="Pata de Cachorro"> Quero Adotar</a>
                <a routerLink="/cadastro" class="btn btn-vermelho"><img src="../assets/IMG/pata-de-cachorro.png" alt="Pata de Cachorro"> Cadastrar Pet</a>
                
            </div>
        </div>    
    </div>
</section>
<section class="sobre-projeto">
    <div class="boxProjeto">
    <img src="../assets/IMG/bordaSobreProjeto.png" alt="Patas de Cachorro">
    <div class="conteudoProjeto">
        <h2 class="tituloProjeto">Sobre o Projeto</h2>
        <p>Existem muitas variações de passagens de Lorem Ipsum disponíveis, mas a maioria sofreu alteração de alguma forma, por humor injetado ou palavras aleatórias que não parecem nem um pouco críveis. Se você for usar uma passagem de Lorem Ipsum, precisa ter certeza de que não há nada embaraçoso escondido no meio do texto. Todos os geradores Lorem Ipsum na Internet tendem a repetir blocos predefinidos conforme necessário, tornando este o primeiro gerador verdadeiro na Internet. Ele usa um dicionário de mais de 200 palavras latinas, combinado com um punhado de estruturas de frases modelo.</p>
    </div>
    <img src="../assets/IMG/bordaSobreProjetoDireito.png" alt="Patas de Cachorro">
    </div>
</section>
<app-footer></app-footer>