<div *ngFor="let pet of pets" class="modal fade" id="modal{{pet.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title titulo-modal" id="staticBackdropLabel">Perfil do {{pet.nomePet}} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table">
                  <tr>
                    <th scope="row">Nome</th>
                    <td>{{pet.nomePet}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Espécie</th>
                    <td>{{pet.especie}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Raça</th>
                    <td>{{pet.raca}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Sexo</th>
                    <td>{{pet.sexo}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Porte Fisico</th>
                    <td>{{pet.porteFisico}}</td>
                  </tr>
            </table>
              <br>
              <h5 class="titulo-modal">Informações do Dono</h5>
              <br>
              <p>Nome: {{pet.nomeUsuario}}</p>
              <p>Fone: {{pet.whatsapp}}</p>
              <p>Endereço: {{pet.localizacao}}</p>
                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn vermelho" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>