<section class="footer">
    <div class="footerContainer">
        <a href="https://twitter.com/Barbosa_Pedroo" target="_blank" rel="noopener noreferrer"><img src="../assets/IMG/twitter.png" alt="Logo twitter" /></a>
        <a href="https://www.instagram.com/pedroz_bm/?hl=pt-br" target="_blank" rel="noopener noreferrer"><img src="../assets/IMG/instagram-sketched.png" alt="Logo instagram" /></a>
        <a href="https://www.linkedin.com/in/pedro-barbosa-915639173/" target="_blank" rel="noopener noreferrer"><img src="../assets/IMG/linkedin.png" alt="Logo linkedin" /></a>
        <p>© de Copyright 2020 Pedro Barbosa Muniz. Todos os direitos reservados.</p>
    </div>
</section>